/NetcoolAutomation-ejb/libs/
/NetcoolAutomation-ejb/libs2/
/nbproject/private/
/NetcoolAutomationAdmin/nbproject/private/
/NetcoolAutomation-ejb/nbproject/private/
/NetcoolAutomation-ejb/build/
/NetcoolAutomation-ejb/setup/
/NetcoolAutomationAdmin/build/
/build/
/NetcoolAutomation-ejb/dist/
/dist/
/NetcoolAutomationAdmin/dist/
.svn